@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example of .NET app to Azure App Service.</p>
    <img src="https://projectenvstorageaccount.blob.core.windows.net/testcontainer/image%20(1).png?sp=r&st=2025-01-23T10:04:08Z&se=2025-01-23T18:04:08Z&spr=https&sv=2022-11-02&sr=b&sig=ixCGrKzEgAMl5F3w8vO3s%2FHrnNj9jLBeGAKWRCIgjcg%3D" alt="Image" class="img-fluid">
</div>

