@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
        <img src="https://projectenvstorageaccount.blob.core.windows.net/testcontainer/image%20(1).png?sp=r&st=2025-01-20T11:59:05Z&se=2025-01-20T19:59:05Z&spr=https&sv=2022-11-02&sr=b&sig=7IGMknaSmPtNNZLfD%2BWz1WgWyRqOnjz1RHfss6WkEqc%3D" alt="Image" class="img-fluid">

</div>
