@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example of .NET app to Azure App Service.</p>
    <img src="https://projectenvstorageaccount.blob.core.windows.net/testcontainer/image%20(1).png?sp=r&st=2025-01-23T10:04:08Z&se=2025-01-31T18:04:08Z&spr=https&sv=2022-11-02&sr=b&sig=9gSK169VTjexpYcqTznL%2BaSB4DSE1ASyzmlCTPKLj5I%3D" alt="Example of .NET app on Azure" class="img-fluid">
</div>

