@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron"> 
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example of .NET app to Azure App Service.</p>
    <img src="https://projectenvstorageaccount.blob.core.windows.net/testcontainer/myGPT.jpeg?sp=r&st=2025-01-27T14:48:26Z&se=2025-01-27T22:48:26Z&spr=https&sv=2022-11-02&sr=b&sig=UXzxhg7b9brKGSq%2F5XwZsiNRS3lQTFdUUzgX3EdrYho%3D" alt="Image" class="img-fluid"> 
</div>

