@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy explains how we collect, use, and protect your personal information when you use our website, application, or services (collectively, the “Services”).</p>
